<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
</head>
<body>
  <h1>Welcome, <%= username %>!</h1>

  <h2>Users</h2>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <%= user.username %> (<%= user.email %>)
        - <a href="/admin/delete-user/<%= user.id %>">Delete</a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
