<!DOCTYPE html>
<html>
<head><title>Reset Password</title></head>
<body>
  <h2>Set New Password</h2>
  <form method="POST" action="/reset">
    <input type="hidden" name="token" value="<%= token %>">
    <input name="password" type="password" placeholder="New Password" required>
    <button type="submit">Reset</button>
  </form>
</body>
</html>
